@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');


/* App.css */

/* Full page container */
.full-screen-container {
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: lightblue;
  }
  
  /* Center content within the full-screen container */
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes full height of the container */
  }
  